@model xiangcaowuyu.net.Models.Entity.Product

@{
    ViewData["Title"] = Model.ProductName;
}
@section Styles{ 
    <style>
        .dl-horizontal p span img{
            width:200px;
            height:200px;
        } 
    </style>
    <link rel="stylesheet" href="~/lib/jquery-enlargement/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-enlargement/dist/zoomify.css" />
}
<div style="text-align:center;">
    <h4 style="text-align:center;">@Model.ProductName</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Raw(Model.ProductContent)
    </dl>
</div>
<div style="text-align:center">
    <a asp-action="EditProduct" asp-route-id="@Model.ID" class="btn btn-success">编辑产品</a> |
    <a asp-action="Index" class="btn btn-primary">返回列表</a>
</div>
@section Scripts{ 
    <script src="~/lib/jquery-enlargement/dist/zoomify.js"></script>
   <script>
       $(function () {
           $('.dl-horizontal p span img').zoomify();
       });
    </script>
}