@using xiangcaowuyu.net.Public;
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ConfigManager.GetConfig("SysName")</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/js/plugins/jquery.md5.js"></script>
    <script src="~/js/plugins/cookie/jquery.cookie.js"></script>
    <script src="~/js/plugins/validator/validator.js"></script>
    <script src="~/js/plugins/tipso.min.js"></script>
    <!--[if IE]>
    <div class="tixing"><strong>温馨提示：感谢您访问本站，经检测您使用的浏览器为IE浏览器，为了获得更好的浏览体验，请使用Chrome、Firefox或其他浏览器。</strong>
    </div>
    <![endif]-->
    <script>
        //回车事件
        window.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $("#btnLogin").click();
            }
        }

        $(function () {
            $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
            $(window).resize(function (e) {
                $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
                e.stopPropagation();
            });

            //登录界面点击刷新二维码
            $("#login_verifycode").click(function () {
                $("#login_verifycode").attr("src", "/Login/VerifyCode?time=" + Math.random());
            });

            //直接登录按钮
            $("#a_login").click(function () {//立即注册
                $("#registerform").hide("slow", function () {//隐藏登录层
                    $("#loginform").show("slow");//显示注册层
                    $("#login_verifycode").attr("src", "/Login/VerifyCode?time=" + Math.random());
                    $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 100);
                });
            });

            //提示信息
            function formMessage(msg, type) {
                $('.login_tips').parents('dt').remove();
                var _class = "login_tips";
                if (type == 1) {
                    _class = "login_tips-succeed";
                }
                $('.form').prepend('<dt><div class="' + _class + '"><i class="fa fa-question-circle"></i>' + msg + '</div></dt>');
            }

            //登录验证
            function checkLogin(autologin) {
                $("#btnlogin").addClass('active').attr('disabled', 'disabled');
                $("#btnlogin").find('span').hide();
                var username = $("#username").val();
                var password = $("#password").val();
                var verifycode = $("#login_verifycode").val();
                if (top.$.cookie('username') == '' || top.$.cookie('password') == '') {
                    password = $.md5(password);
                }
            }

            //用户名离开事件
            $("#txt_register_account").blur(function () {
                var myreg = /^(((17[0-9]{1})|(13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                if ($(this).val() == '') {
                    formMessage('请输入手机号');
                    $(this).focus();
                } else if (!myreg.test($(this).val())) {
                    $(this).focus();
                    formMessage('请输入正确的手机号');
                }
            });

            //密码强度检测
            $("#txt_register_password").bind("input propertychange", function () {
                $(".passlevel").find("em").removeClass("bar");
                if ($(this).val().length < 8) {
                    return;
                } else {
                    if (/\d/.test($(this).val())) {
                        $(".passlevel").find("em:eq(0)").addClass("bar");
                        if (/[a-z]/.test($(this).val()) || /[A-Z]/.test($(this).val())) {
                            $(".passlevel").find("em:eq(0)").addClass("bar");
                            $(".passlevel").find("em:eq(1)").addClass("bar");
                            if (/\W/.test($(this).val())) {
                                $(".passlevel").find("em").addClass("bar");
                            }
                        }
                    }
                }
            });
            //微信关闭按钮
            $("#weixinClose").click(function () { $("#divweixin").css("display", "none"); });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <div style="text-align:center;">
            <img src="~/images/on-line.png" style="border-radius: 96px; margin-bottom: -48px;" />
        </div>
        <div class="container" id="loginform">
            <fieldset class="box">
                <legend>请登录</legend>
                <dl class="form">
                    <dd><input id="username" type="text" class="px" placeholder="账户、邮箱或者手机号" /></dd>
                    <dd><input id="password" type="password" placeholder="密码" class="px" /></dd>
                    <dd style="overflow: hidden;">
                        <div style="float: left; width: 65%">
                            <input id="verifycode" maxlength="4" type="text" class="px" placeholder="图片验证码">
                        </div>
                        <div style="float: left; width: 35%">
                            <img id="login_verifycode" class="img_verifycode" src="~/Login/VerifyCode" width="100" height="30" alt="点击切换验证码"
                                 title="点击切换验证码" style="cursor: pointer; padding-top: 2px; padding-left: 5px;" />
                        </div>
                    </dd>
                    <dd class="btn">
                        <button id="btnlogin" type="button" class="pn"><span>登录</span></button>
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
</body>
</html>
