@using xiangcaowuyu.net.Public;
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ConfigManager.GetConfig("SysName")</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/js/plugins/jquery.md5.js"></script>
    <script src="~/js/plugins/cookie/jquery.cookie.js"></script>
    <script src="~/js/plugins/validator/validator.js"></script>
    <script src="~/js/plugins/tipso.min.js"></script>
    <!--[if IE]>
    <div class="tixing"><strong>温馨提示：感谢您访问本站，经检测您使用的浏览器为IE浏览器，为了获得更好的浏览体验，请使用Chrome、Firefox或其他浏览器。</strong>
    </div>
    <![endif]-->
    <script>
        //回车事件
        window.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $("#btnLogin").click();
            }
        }

        $(function () {
            $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
            $(window).resize(function (e) {
                $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
                e.stopPropagation();
            });

            //登录界面点击刷新二维码
            $("#login_verifycode").click(function () {
                $("#login_verifycode").attr("src", "/Admin/GetVirifyCode?time=" + Math.random());
            });

            //提示信息
            function formMessage(msg, type) {
                $('.login_tips').parents('dt').remove();
                var _class = "login_tips";
                if (type == 1) {
                    _class = "login_tips-succeed";
                }
                $('.form').prepend('<dt><div class="' + _class + '"><i class="fa fa-question-circle"></i>' + msg + '</div></dt>');
            }

            //登录验证
            $("#btnlogin").click(function () {
                if ($.trim($("#username").val()) == "") {
                    formMessage("请输入用户名", "warn");
                    return;
                }
                if ($.trim($("#password").val()) == "") {
                    formMessage("请输入密码", "warn");
                    return;
                }
                if ($.trim($("#verifycode").val()) == "") {
                    formMessage("请输入验证码", "warn");
                    return;
                }
                $.ajax({
                    url: "/Admin/CheckLogin",
                    type: "post",
                    data: { username: $.trim($("#username").val()), password: $.trim($("#password").val()), verifycode: $.trim($("#verifycode").val()) },
                    success: function (info) {
                        if (info == "") {
                            window.location.href = "/Home/Index";
                        } else {
                            formMessage(info, "warn");
                            $("#login_verifycode").click();
                            $("#password").val('');
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <div style="text-align:center;">
            <img src="~/images/on-line.png" style="border-radius: 96px; margin-bottom: -48px;" />
        </div>
        <div class="container" id="loginform">
            <fieldset class="box">
                <legend>请登录</legend>
                <dl class="form">
                    <dd><input id="username" type="text" class="px" placeholder="账户、邮箱或者手机号" /></dd>
                    <dd><input id="password" type="password" placeholder="密码" class="px" /></dd>
                    <dd style="overflow: hidden;">
                        <div style="float: left; width: 65%">
                            <input id="verifycode" maxlength="4" type="text" class="px" placeholder="图片验证码">
                        </div>
                        <div style="float: left; width: 35%">
                            <img id="login_verifycode" class="img_verifycode" src="~/Admin/GetVirifyCode" width="100" height="30" alt="点击切换验证码"
                                 title="点击切换验证码" style="cursor: pointer; padding-top: 2px; padding-left: 5px;" />
                        </div>
                    </dd>
                    <dd class="btn">
                        <button id="btnlogin" type="button" class="pn"><span>登录</span></button>
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
</body>
</html>
