@model IEnumerable<xiangcaowuyu.net.Models.Entity.Article>
@using xiangcaowuyu.net.Models.Entity;
@{
    ViewData["Title"] = "文章";
    List<Article> list  = Model as List<Article>;
}
<div class="container">
@foreach (var item in Model) {
<div class="row" style="margin-bottom:5px;">
    <div style="float:left;"><img src="/UploadImage/Random/img1.jpg" style="width:250px;height:200px;"></div>
    <div style="float:left;">

        </div>
    </div>
    }
</div>
